:root
{
    --span-color-impact: royalblue;
    --span-color-impact-highlight: midnightblue;
    --span-color-empower: rgb(255, 70, 70);
    --span-color-empower-hightlight: rgb(202, 0, 0);
    --intro-text: #8d8d8d;
    --intro-name: rgb(99, 98, 98);
    --about-text: #707070;
}

body
{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
    font-weight: 600;
    color: #000000;
}

p
{
    font-size: 18px;
    font-weight: 500;
}

#intro p
{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 100%;
}

#wrapper1
{
    width: 100%;
    background: #FFF;
    margin-left: auto;
    margin-right: auto;
}
#intro-wrapper
{
    overflow: hidden;
    margin-bottom: 42px;
    text-align: center;
    margin: 0 auto;
    width: 700px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.div
{
    display: block;
}

.container
{
	margin: 0;
    border-radius: 3px;
}

#headshot
{
    width: 250px;
    height: 250px;
    display: inline-block;
    margin-bottom: 1em;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

#headshot img
{
    width: 100%;
    height: auto;
}

#intro
{
    padding-top: 3em;
}
#intro h1
{
    font-size: 2.5em;
    font-weight: bolder;
    color: var(--intro-name);
}

#intro h2
{
    margin: 1.5em;
    font-size: 2em;
    font-weight: normal;
    color: var(--intro-text);
}

#intro h2 span
{
    position: relative;
    overflow: hidden;
    font-weight: bolder;
}

#impact
{
    color: var(--span-color-impact);
}

#empower
{
    color: var(--span-color-empower);
}

#intro h3
{
    margin-bottom: 1em;
    font-size: 1.5em;
    color: var(--intro-text);
    font-weight: lighter;
}

#external-links
{
    margin: 10px;
}

#external-links .logo
{
    margin: 30px;
    text-decoration: none;
    position: relative;
    display: inline-block;
    height: 35px;
    width: 35px;
}

#external-links .logo img
{
    height: 35px;
    width: auto;
    transition: opacity 0.2s;
    opacity: 0.5;
    margin: 7px;
}

#external-links .logo img:hover
{
    opacity: 0.8;
}

#bios
{
    margin-top: 3em;
    line-height: 2.5em;
}

.link
{
    position: relative;
    overflow: hidden;
    font-weight: bolder;
    color: var(--span-color-impact);
    text-decoration: underline;
    transition: all 350ms ease;
}

#bios a:hover
{
    color: var(--span-color-impact-highlight);
}
